:host {
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--p-yellow);
    mat-nav-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        mat-list-item {
            text-transform: uppercase;
            background-color: var(--p-blue-light) !important;
        }
    }
    .button-container {
        margin-bottom: 3rem;

        display: flex;
        justify-content: right;
        button {
            background-color: var(--p-blue-light) !important;
            // color: var(--p-yellow);
        }
    }
}
