<div class="mat-nav-list">
    <button mat-raised-button
        class="mat-list-item home"
        routerLink="home"
        (click)="onCloseSidenav()">
        <mat-icon>home</mat-icon>
    </button>
    @if(newsStore.visible() || authStore.isLoggedIn()) {
    <button mat-raised-button
        class="mat-list-item"
        (click)="onCloseSidenav()"
        routerLink="news">
        {{appStore.activeLanguage() === 'en' ? 'news': 'nieuws'}}
    </button>
    }
    @for(menuItem of navigationStore.userMenuItems(); track menuItem.link) {
    <button mat-raised-button
        class="mat-list-item"
        (click)="onCloseSidenav()"
        [routerLink]="menuItem.link">

        {{appStore.activeLanguage() === 'nl' ? menuItem.nl : menuItem.en}}

    </button>
    }
</div>
<div class="button-container">

    <button mat-icon-button
        class="close">
        <mat-icon (click)="onCloseSidenav()">close</mat-icon>
    </button>
</div>
