.wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--p-yellow);
    border-top: 2px solid var(--p-black);
    position: relative;
    .content {
        padding: 0.3rem;
        display: flex;
        gap: 0.5rem;
        .cafe {
            font-family: "Cormorant Garamond", serif;
            font-style: italic;
            font-size: 1.2rem;
            font-weight: 400;
        }
        .parisius {
            font-family: "Alegreya", serif;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
    .auth {
        position: absolute;
        right: 0.5rem;
        bottom: 5px;
        button {
            cursor: pointer;
            background-color: var(--p-blue-light) !important;
            border-radius: 7px;
        }
    }
}
