:root {
    // --sahara: #e2d8b9;
    --background_1: #e44114;
    // --rust: #e44114;
    --background_2: #485ca5;
    --background_3: #1d301a;
    // --blue: #485ca5;
    --font_1: #e2d8b9;
    --font_2: #ce9924;

    --p-purple: #8f58ac;
    --p-purple-light: #ddcce6;
    --p-blue: #327ebb;
    --p-yellow: #f3941f;
    --p-brown: #7d2d36;
    --p-black: black;

    // --font_2: #ce9924;

    // --o-gray: gray;

    // --o-gravel: #0477bf;

    // --o-crimson: #ed1c24;

    // --snow: #f9f8f8;
    // --o-form-background: pink;

    // --o-coal: #000000;
    // // --o-crimson: #680000;

    // --o-gravel: #808080;
    // --o-snow: #ffffff;

    // --o-max-height: calc(100vh - 64px - 64px - 28px);
}
