:root {
    --p-purple: #8f58ac;
    --p-purple-slightly-lighter: #ac83c2;
    --p-purple-light: #c5a7d5;
    --p-purple-lighter: #ddcce6;

    --p-blue: #327ebb;
    --p-blue-slightly-lighter: #6fa5d0;
    --p-blue-lighter: #9bc2e1;
    --p-blue-light: #c5dcee;

    --p-yellow: #f3941f;

    --p-brown: #7d2d36;

    --p-black: black;
}
