:root {
    --p-purple-light: #c5a7d5;
    --p-purple: #8f58ac;
    --p-purple-dark: #4f2f61;

    --p-blue-light: #c5dcee;
    --p-blue: #327ebb;
    --p-blue-dark: #1f496d;

    --p-yellow-light: #f7b96d;
    --p-yellow: #f3941f;
    --p-yellow-dark: #99580b;

    --p-brown-light: #9d5961;
    --p-brown: #7d2d36;
    --p-brown-dark: #5f2229;

    --p-ajax-red: #d2122e;

    --p-black: black;
}
