.wrapper {
    button {
        background-color: white;
        margin-bottom: 0.5rem;
    }
    .drink-categories {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 0.3rem;

        grid-auto-flow: dense;
        @media (min-width: 600px) {
            gap: 5px 5px;
        }
    }
}
