// .wrapper {
//     width: 100%;

//     .drink-categories {
//         display: grid;
//         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
//         gap: 1rem;
//         grid-auto-flow: dense;
//     }
// }

// .drink-categories {
//     column-count: 3;
//     column-gap: 0.2rem;
// }
.wrapper {
    // padding: 1rem;
    .drink-categories {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 0.3rem;

        // align-items: start;
        grid-auto-flow: dense;
        @media (min-width: 600px) {
            gap: 5px 5px;
        }
    }
}

// app-drink-category {
//     break-inside: avoid;
//     display: block;
//     margin-bottom: 0.2rem;
// }
// vijzelgracht63@gmail.com
// vijzelgracht63@gmail.com
