@let c = category();
<div class="wrapper"
    [style]="getStyle(c.nameEn)">

    <div class="header">
        <div class="header-top">
            <div class="header-top-left">
                @if(authStore.isLoggedIn()) {
                <div class="order-of-appearance">{{c.orderOfAppearance}}</div>
                }
                <!-- <div class="if">{{c.id}}</div> -->
                <div class="name">{{appStore.activeLanguage()  === 'nl' ? c?.nameNl: c?.nameEn}}</div>
            </div>
            @if(authStore.isLoggedIn()){
            <div class="icon-buttons">
                <button mat-icon-button
                    (click)="drinkCateegoryStore.deleteDrinkCategory(c.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button
                    (click)="editDrinkCategory()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            }
        </div>
        @if(c.descriptionNl || c.descriptionEn) {
        <div class="description">{{appStore.activeLanguage() === 'nl' ? c?.descriptionNl : c.descriptionEn}}</div>
        }
    </div>


    <div class="drinks">
        @if(drinkCateegoryStore.getEnDrinkCategoryNameById(c.id) === 'draft beers'){
        <app-draft-beer-header></app-draft-beer-header>
        }
        @if(drinkCateegoryStore.getEnDrinkCategoryNameById(c.id)=== 'white wine') {
        <app-wine-bottle-header></app-wine-bottle-header>
        }
        @for(consumption of c.consumptions; track $index) {
        <app-drink [categoryId]="c.id"
            [first]="$first"
            [last]="$last"
            [index]="$index"
            [drink]="consumption"></app-drink>
        }
    </div>
    @if(authStore.isLoggedIn()){
    <div class="buttons">
        <button mat-raised-button
            (click)="onAddDrink()">add item to {{appStore.activeLanguage()  === 'nl' ? c?.nameNl: c?.nameEn}}</button>
    </div>
    }
</div>
