<div class="wrapper">

    <button mat-icon-button
        routerLink="/home">
        <mat-icon>home</mat-icon>
    </button>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.3561639609893!2d4.935878277330663!3d52.363961572020706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60900252ed60f%3A0xaa1f1976f59bd605!2sCafe%20Bert!5e0!3m2!1sen!2snl!4v1788843657213!5m2!1sen!2snl"
        width="100%"
        height="100%"
        style="border:0;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin"></iframe>
</div>
