<div class="wrapper">
    <img src="/images/parisius-logo.webp"
        alt="">
    <div class="contact">
        <div class="name">
            Café Parisius

        </div>
        <div class="address">
            Borneostraat 112

        </div>
        <div class="zip-code_city">
            <div class="zip-code">
                1094 CR,

            </div>
            <div class="city">
                Amsterdam
            </div>
        </div>

        E-mail: werkenbijbert&#64;gmail.com
        Telefoon: 020 370 02 07
        Instagram: &#64;cafebertjavaplein
    </div>
    <ul class="opening-hours">
        <p class="list-header">

            Openingstijden
        </p>
        <li>
            Ma. 16:00 - 01:00
        </li>
        <li>
            Ma. 16:00 - 01:00

        </li>
        <li>

            Di. 16:00 - 01:00
        </li>
        <li>

            Wo. 16:00 - 01:00
        </li>
        <li>

            Do. 16:00 - 01:00
        </li>
        <li>

            Vr. 16:00 - 03:00
        </li>
        <li>

            Za. 11:00 - 03:00
        </li>
        <li>

            Zo. 11:00 - 01:00
        </li>
    </ul>
    <div class="description">
        <p>

            Café Bert is een bruine buurtkroeg met Indonesische wortels, midden in het hart van Amsterdam-Oost. Vernoemd naar opa Bert Simon –
            een man met een warm hart en een groot gevoel voor gezelligheid – is ons café een vertrouwde plek op de Borneostraat 112.
        </p>
        <p>

            Of je nu langskomt voor een goed gesprek, een stevige borrel of gewoon even wilt ontspannen: bij ons ben je welkom.
            We tappen een ruime selectie bieren, schenken de beste jenevers en andere sterke dranken, en ons keukentje staat de
            hele dag voor je klaar met bijvoorbeeld een daghap of bittergarnituur.
        </p>
        <p>

            Vragen of reserveren? Mail ons via werkenbijbert&#64;gmail.com of bel gerust even naar 020 370 02 07.
        </p>


    </div>
</div>
