<div class="wrapper">
    <img src="/images/parisius-logo.webp"
        alt="">
    <div class="dinks-bites-jazz">DRINKS | BITES | JAZZ</div>
    @if(appStore.activeLanguage() === 'en'){

    <div class="slogan">Your Local at Javaplein</div>
    } @else{
    <div class="slogan">De huiskamer van het Javaplein</div>
    <!-- Javaplein’s Local Hangout — casual, friendly, contemporary.
    Javaplein’s Home Away from Home — warm and welcoming, though a little more sentimental.
    Javaplein’s Neighbourhood Living Room — keeps the Dutch concept but sounds more intentional.
    Javaplein’s Favourite Hangout — inviting, slightly promotional.
    Your Local at Javaplein — very natural, especially to British/Irish ears.
    Javaplein’s Local — short, pub-like, and quite charming.
    Your Home on Javaplein — warm and simple.
    Where Javaplein Comes Together — emphasizes the social/community aspect. -->
    }


    <ul class="opening-hours">
        <p class="list-header">
            {{appStore.activeLanguage() === 'nl' ? 'Openingstijden' : 'Opening Hours'}}

        </p>
        @for(openingTime of openingTimes; track $index){
        <li>
            <div class="day-name">{{appStore.activeLanguage() === 'nl' ? openingTime.nl : openingTime.en}}</div>
            <div [ngClass]="{
                            'hours-nl': appStore.activeLanguage() === 'nl',
                            'hours-en': appStore.activeLanguage() === 'en'}">
                <div class="open">{{appStore.activeLanguage() === 'nl' ? openingTime.openNl : openingTime.openEn}}</div>
                <div class="spacer">-</div>
                <div class="close">{{appStore.activeLanguage() === 'nl' ? openingTime.closeNl : openingTime.closeEn}}</div>
            </div>
        </li>
        }
    </ul>
    <div class="social-media">
        <app-social-media></app-social-media>
    </div>
    <div class="contact">
        <!-- <div class="name">
            Café Parisius

        </div> -->
        <div class="location_address_zip-code_city">
            <mat-icon routerLink="/location"
                class="location">location_on</mat-icon>
            <div class="address_zip-code_city">
                <div class="address">
                    Borneostraat 112

                </div>
                <div class="zip-code_city">
                    <div class="zip-code">
                        1094 CR,

                    </div>
                    <div class="city">
                        Amsterdam
                    </div>

                </div>
            </div>
        </div>

        <div class="email">
            <a href="mailto:werkenbijbert&gmail.com">
                <mat-icon>email</mat-icon>
            </a>
            <div class="email-address">
                werkenbijbert&#64;gmail.com
            </div>
        </div>

        <div class="phone">
            <a href="tel:+31203700207">
                <mat-icon> local_phone</mat-icon>
            </a>
            <div class="number">020 370 02 07</div>
        </div>
    </div>



</div>
