.wrapper {
    display: flex;
    padding: 0.2rem;
    // border: 2px solid white;
    .spacer {
        flex-grow: 1;
    }
    .draft-beer-sizes {
        // outline: 3px solid red;
        //
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-width: 8rem;
        font-weight: bold;
        color: var(--p-yellow-light);
        text-transform: capitalize;
        justify-self: end;

        .size {
            // font-weight: bold;
            color: var(--p-yellow-light);
            text-transform: capitalize;
            justify-self: end;
        }
    }
}
