.wrapper {
    display: flex;
    .images {
        display: flex;
        gap: 0.5rem;
        img {
            border-radius: 8px;
            max-width: 2rem;
            height: 1.5rem;
        }
    }
}

.active {
    border: 3px solid yellow;
}
.non-active {
    border: 3px solid transparent;
}
