<mat-toolbar>
    <div class="left">
        <mat-icon class="menu"
            (click)="onMenu()">menu</mat-icon>

        <button mat-icon-button
            class="home"
            routerLinkActive="link-active">
            <mat-icon routerLink="home">home</mat-icon>
        </button>
        @if(authStore.isLoggedIn()){
        <mat-icon routerLink="/analytics"> vpn_key</mat-icon>
        }
        @if(newsStore.visible() || authStore.isLoggedIn()) {

        <button class="news"
            mat-button
            routerLinkActive="link-active"
            routerLink="news">{{appStore.activeLanguage()==='en' ? 'news':'nieuws'}}</button>

        }

        @for(menuItem of navigationStore.userMenuItems();track $index) {
        <button class="menu-buttons"
            routerLinkActive="link-active"
            [routerLink]="menuItem.link"
            mat-button>{{appStore.activeLanguage() === 'nl' ? menuItem.nl : menuItem.en}}</button>
        }
    </div>

    <div class="right">
        <app-language-selector></app-language-selector>

    </div>
</mat-toolbar>
