mat-toolbar {
    background-color: var(--p-yellow);
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    border-bottom: 3px solid var(--p-black);
    position: relative;
    .left {
        display: flex;
        gap: 1rem;
        align-items: center;
        .menu {
            @media (650px < width) {
                display: none;
            }
        }
        .home {
            background-color: var(--p-yellow) !important;
            @media (650px > width) {
                display: none;
            }
        }
        .menu-buttons {
            background-color: var(--p-yellow) !important;
            @media (650px > width) {
                display: none;
            }
        }
        .link-active {
            // border: 3px var(--p-black);
            background-color: var(--p-blue) !important;
            color: white !important;
            // border: 3px solid var(--p-black);
        }
    }
    .center {
        padding: 0.3rem;
        display: flex;
        gap: 0.5rem;
        @media (650px > width) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        // margin: 50%;
        .cafe {
            font-family: "Cormorant Garamond", serif;
            font-style: italic;
            font-size: 1.5rem;
            font-weight: 600;
        }
        .parisius {
            font-family: "Alegreya", serif;
            font-weight: 600;
            font-size: 1.5rem;
        }
        // @media (650px > width) {
        //     display: none;
        // }
    }
    .right {
        align-items: center;
        display: flex;
        button {
            background-color: transparent !important;
        }
    }
}
