<mat-toolbar>
    <div class="left">
        <mat-icon class="menu"
            (click)="onMenu()">menu</mat-icon>

        <button mat-icon-button
            class="home"
            routerLinkActive="link-active">
            <mat-icon routerLink="home">home</mat-icon>
        </button>
        @if(authStore.isLoggedIn()){
        <mat-icon routerLink="/analytics"> vpn_key</mat-icon>
        }

        @for(menuItem of navigationStore.userMenuItems();track $index) {
        <button class="menu-buttons"
            routerLinkActive="link-active"
            [routerLink]="menuItem.link"
            mat-button>{{appStore.activeLanguage() === 'nl' ? menuItem.nl : menuItem.en}}</button>
        }
    </div>
    <div class="center">

        <div class="cafe">Café</div>
        <div class="parisius">Parisius</div>


    </div>
    <div class="right">
        <app-language-selector></app-language-selector>
        <!-- @if(!authStore.isLoggedIn()) {
        <button mat-icon-button
            routerLink="login">
            <mat-icon>login</mat-icon>
        </button>
        }
        @if(authStore.isLoggedIn()) {
        <button mat-icon-button
            type="button"
            (click)="authStore.logout()">
            <mat-icon>logout</mat-icon>
        </button>
        } -->
    </div>
</mat-toolbar>
