/* You can add global styles to this file, and also import other style files */

@use "./styles/variables";
@use "./styles/mixins";
@use "./styles/jazzfry";

html,
body {
    height: 100%;
    background-color: var(--p-black);
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
    // font-family: "Alegreya", serif;
    // font-size: large;
}

button {
    // border: 1px solid red !important;
    text-transform: uppercase !important;
    background-color: white !important;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.paragraph {
    // margin: 0 0 0.5rem 0;
}
.paragraph-header {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
}
